# data
cache

# external packages
ext_src
.julia
.singularity
conda

# artefacts of computer
*DS_Store
.ipynb_checkpoints
__pycache__

# all figures in the documentation
docs/*/figures

# temporary stuff
tmp

# saved data from fabiens project
island_in_the_sun
