# data
cache

# external packages
ext_src

# artefacts of computer
*DS_Store
.ipynb_checkpoints
__pycache__

# all figures in the documentation
docs/*/figures

# saved data from fabiens project
island_in_the_sun
